<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" href="/image/icon.png">
    <!-- --Boostrap-- -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- --Fontawsome-- -->
    <link href="./fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />

    <!-- --Custom CSS-- -->
    <link rel="stylesheet" href="stylesheet/main.css">

    <!-- animate css  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!----Google Font--  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300" rel="stylesheet">
</head>

<body>
    <!----------------Navbar------------------------>
    <div class="container nav-container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">Company Name</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-caret-down" aria-hidden="true" style="
                    font-size: 30px;
                "></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#top"><i class="fa fa-home" aria-hidden="true"></i>Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about"><i class="fa fa-info-circle" aria-hidden="true"></i>About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services"><i class="fa fa-wrench" aria-hidden="true"></i>Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link contact-menu" href="#contact"><i class="fa fa-address-book"
                                aria-hidden="true"></i>Contact Us</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a target="blank" class="nav-link contact-menu" href="/user/login"> <i
                                class="fas fa-user-cog"></i>Admin</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!----------Slider---------->
    <section class="slider">
        <div class="banner1">
            <img src="./image/banner (1).jpg">
            <div class="text-box text-box1">
                <h1>Banner 1 heading</h1>
                <span class="line"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
                    itaque sapiente laboriosam ipsam labore quidem, porro iusto dolorum. Beatae dolorum excepturi
                    maiores
                    possimus autem ex facilis libero deleniti quia soluta?</p>
            </div>
        </div>
        <div class="banner2">
            <img src="./image/banner (2).jpg">
            <div class="text-box text-box2">
                <h1>Banner 2 heading</h1>
                <span class="line"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
                    itaque sapiente laboriosam ipsam labore quidem, porro iusto dolorum. Beatae dolorum excepturi
                    maiores
                    possimus autem ex facilis libero deleniti quia soluta?</p>
            </div>
        </div>

        <div class="banner3">
            <img src="./image/banner (3).jpg">
            <div class="text-box text-box3">
                <h1>Banner 3 heading</h1>
                <span class="line"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
                    itaque sapiente laboriosam ipsam labore quidem, porro iusto dolorum. Beatae dolorum excepturi
                    maiores
                    possimus autem ex facilis libero deleniti quia soluta?</p>
            </div>
        </div>

        <div class="banner4">
            <img src="./image/banner (4).jpg">
            <div class="text-box text-box4">
                <h1>Banner 4 heading</h1>
                <span class="line"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
                    itaque sapiente laboriosam ipsam labore quidem, porro iusto dolorum. Beatae dolorum excepturi
                    maiores
                    possimus autem ex facilis libero deleniti quia soluta?</p>
            </div>
        </div>
    </section>

    <!-- --Our services-- -->
    <section class="our-services" id="services">
        <div class="container div1">
            <div class="row">
                <div class="col-md-6 sl1">
                    <h1>Our Specialtion!</h1>
                    <span class="line2"></span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae consectetur ad, dolore magni
                        totam optio voluptas placeat deleniti doloribus
                        ipsam laborum a labore. Ipsum aperiam, sint autem itaque eaque magnam!</p>
                </div>
                <div class="col-md-4 offset-md-2 sl2">
                    <div class="layeredImg">
                        <img class="img1" src="./image/banner (1).jpg">
                        <img class="img2" src="./image/banner (1).jpg">
                    </div>
                </div>
            </div>

            <!-- ---------  -->
            <div class="row content sl3">
                <div class="col-md-3">
                    <img src="./image/banner (3).jpg">
                </div>
                <div class="col-md-5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga itaque veniam quod ipsacia quos nihil explicabo? Earum.</p>
                </div>
            </div>
            <div class="row content sl4">
                <div class="col-md-3 offset-md-4">
                    <img src="./image/banner (3).jpg">
                </div>
                <div class="col-md-5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga itaque veniam quod ipsacia quos nihil explicabo? Earum.</p>
                </div>
            </div>
            <div class="row content sl5">
                <div class="col-md-3">
                    <img src="./image/banner (3).jpg">
                </div>
                <div class="col-md-5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga itaque veniam quod ipsacia quos nihil explicabo? Earum.</p>
                </div>
            </div>
            <div class="row content sl6">
                <div class="col-md-3 offset-md-4">
                    <img src="./image/banner (3).jpg">
                </div>
                <div class="col-md-5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga itaque veniam quod ipsacia quos nihil explicabo? Earum.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- --about-- -->
    <section class="about" id="about">
        <div class="container">
            <h1>About Us</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Maiores illo vitae quae vero commodi
                libero recusandae rem nisi modi adipisci quod tenetur itaque omnis
                repudiandae quis, sequi illum magnam quibusdam!
            </p>

            <div class="row row1">
                <div class="col-md-4 col-sm-12">
                    <div class="layeredImg">
                        <img class="img1" src="./image/banner (2).jpg">
                        <img class="img2" src="./image/banner (2).jpg">
                    </div>
                </div>
                <div class="col-md-6 offset-md-2 col-sm-12">
                    <h1>Heading</h1>
                    <span class="line2"></span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae consectetur ad, dolore magni
                        totam optio voluptas placeat deleniti doloribus
                        ipsam laborum a labore. Ipsum aperiam, sint autem itaque eaque magnam!</p>
                </div>
            </div>

        </div>
    </section>

    <section class="contact-us" id="contact">
        <div class="container contact-container">
            <h1 class="text-center">
                Contact Us
            </h1>
            <!-- --Modal-- -->

            <%- include('partials/massages'); -%>

            <!-- --------  -->
            <form action="/sent-data" method="POST">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputName">Name</label>
                                <input name="name" type="text" class="form-control" placeholder="Your Name">
                            </div>

                            <div class="form-group col-md-5">
                                <label for="inputPhone">Phone No</label>
                                <input name="phone" type="tel" class="form-control" placeholder="+91">
                            </div>
                            <div class="form-group col-md-5 offset-md-2">
                                <label for="inputEmail4">Email</label>
                                <input name="email" type="email" class="form-control" id="inputEmail4"
                                    placeholder="Email">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="validationTextarea">Subject</label>
                            <textarea name="subject" class="form-control is-invalid" id="validationTextarea"
                                placeholder="Your Subject" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="validationTextarea">Your Massage</label>
                            <textarea name="massage" class="form-control is-invalid" id="validationTextarea"
                                placeholder="How can i help you?" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger btn-sm">Submit</button>
                    </div>
                </div>

            </form>
        </div>

        <!-- --footer-- -->

        <footer class="mainfooter" role="contentinfo">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Heading 1</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Sub Menu 1</a></li>
                                    <li><a href="#">Sub Menu 2</a></li>
                                    <li><a href="#">Sub Menu 3</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Heading 2</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Sub Menu 1</a></li>
                                    <li><a href="#">Sub Menu 2</a></li>
                                    <li><a href="#">Sub Menu 3</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Heading 3</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Sub Menu 1</a></li>
                                    <li><a href="#">Sub Menu 2</a></li>
                                    <li><a href="#">Sub Menu 3</a></li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Follow Us</h4>
                            <ul class="social-network social-circle">
                                <li>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fab fa-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 copy">
                            <p class="text-center">&copy; Copyright 2020 - Company Name. All rights reserved.</p>
                            <p class="text-center">Developed By: <b>MOHD SHADAB</b></p>
                        </div>
                    </div>


                </div>
            </div>
        </footer>
    </section>

    <!-- ///////////////////////////////////////////// -->
    <!-- --Custom JavaScript-- -->
    <script src="javascript/script.js"></script>

    <!-- --Boostrap JS-- -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="./bootstrap/js/bootstrap.min.js"></script>

    <script>

        $(document).ready(() => {
            $(window).scroll(() => {
                var topposi = $(document).scrollTop();
                  console.log(topposi);

                if (topposi >= 56 && topposi < 556) {
                    $('.sl1').addClass('animate__animated animate__fadeInLeft animate__delay-1s');
                    $('.sl2').addClass('animate__animated animate__fadeInRight animate__delay-1s');

                }

                if (topposi >= 382 && topposi < 1336) {
                    $('.sl3').addClass('animate__animated animate__fadeInLeft animate__delay-1s');
                    $('.sl4').addClass('animate__animated animate__fadeInRight animate__delay-2s');
                }
                if (topposi >= 832 && topposi < 1336) {
                    $('.sl5').addClass('animate__animated animate__fadeInLeft animate__delay-1s');
                    $('.sl6').addClass('animate__animated animate__fadeInRight animate__delay-2s');
                }
                if (topposi >= 1466 && topposi < 1903) {
                    $('.layeredImg').addClass('animate__animated animate__fadeInUp animate__delay-1s');
                    $('.about h1,p').addClass('animate__animated animate__fadeInUp animate__delay-1s');
                }
                if (topposi >= 2093) {
                    $('.contact-us').addClass('animate__animated animate__fadeIn animate__delay-1s');
                }
            });
        });
    //</script>
</body>

</html>